.mail-nav-bar {
   width: 100%;
   height: 4.5em;
   align-items: center;
   background-color: var(--clr0);
   /* background-color: rgb(213, 232, 255); */
}

.mail-logo-container {
   background-image: url('../../../../../assets/icons/gmail-icon.png');
   width: 50px;
   height: 50px;
   background-size: cover;
}

.mail-nav-bar-btns {
   display: flex;
   width: 500px;
   gap: 20px;
   /* justify-content: space-around; */
}

.mail-nav-bar-btns>* {
   margin-left: 20px;
   align-self: center;
}


.nav-expand-btn{
   background-image: url('../../../../icons/burger-icon.png');
   width: 30px;
   height: 30px;
   background-size: cover;
   align-self: flex-start;
   justify-self: flex-start;
}

.mail-search-input{
   width: 200%;
   height:1.5em;
}