.add-note-container {
    /* background-color: rgba(242, 242, 242, 0.661); */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12em;
    margin: 10px;
    position: relative;
}

.add-note-functions {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    flex-direction: column;
}

.todo-input {
    height: 2em;
    background-color: rgba(217, 214, 214, 0.431);
    border: none;
}

.add-btn-todo {
    width: 30%;
    align-self: center;
}

.choose-note-type {
    margin: 10px;
}


.note-txt-box-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 4%;
    border: 1px solid rgba(69, 69, 69, 0.444);
    padding: 10px;
    width: 30vw;
    /* height: 10vh; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.note-txt-box {
    width: 37.5em;
    display: flex;

}

.todo-note-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35vw;
    gap: 5px;
    background-color: antiquewhite;
}

.todo-input-content {}

/* .todo-note-add-container{
    position: absolute;
    top: 0;
}
 */

.todo-note-add {
    background-color: antiquewhite;
    /* position: relative; */
    display: flex;
    border: 1px solid black;
}

.plus-btn {
    /* position: absolute; */
    bottom: 0;
    right: 0;
    /* position: relative;
    height: 30px;
    top: 20px; */
}






.colors-container {
    background-color: none;
    padding: 10px;
    display: flex;
    gap: 10px;
    width: 100%;

}

.color {
    background-color: pink;
    padding: 5px;
    height: 3vh;
    width: 3vh;
    cursor: pointer;
    border-radius: 10%;
    display: grid;
    place-items: center;
}

.show-content {
    display: inline-block;
}

.hide-content {
    display: none;
}

.txt-input {
    width: 100%;
    border: none;
    background-color: transparent;
}