.note-txt-box-container{
background-color: antiquewhite;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
height: 5em;

}

.note-txt-box{
    width: 37.5em;
    display: flex;

}

.note-txt-box-input{
    width: 100%;
}
.note-txt-box-input input{
    width: 100%;
    /* height: 100%; */
}


.todo-note-add-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-note-add{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
}


.items-container {
    background-color: none;
    padding: 20px;
    display: flex;
    gap: 10px;
}

.item {
    background-color: pink;
    padding: 5px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;

    display: grid;
    place-items: center;
}