 /* note list */

 .notes-list>* {
    list-style-type: none;
    height: min-content;
    width: 80%;
    margin: 10px;
    padding: 10px;
    border-radius: 4%;
    border: 1px solid #e7e6e6;
 }


 .note-todos {
    margin: 5px;
    padding: 5px;
 }

 .remove-note-btn {
    background-image: url('../../../../icons/trash.png');
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: 100%;
    border: none;
    background-color: transparent;
    position: relative;
    left: 80%;
 }


 .notes-btns {
    padding: 5px;
    margin: 5px 5px 0 5px;
 }