 /* mail index  */


 .mail-layout {
     height: 100%;
     font-family: Lato, sans-serif;
 }

 .mail-main-content {
     height: 100vh;
 }

 .nav-expand-btn {
     width: 2em;
 }

 .nav-options {
     height: 100%;
     background-color: var(--clr0);
     flex-direction: column;
     width: 80px;
     align-items: center;
 }

 .mails-container {
     width: 100%;
     background-color: var(--clr1);
 }

 .mail-compse-btn {
     position: fixed;
     border-radius: 50%;
     height: 70px;
     width: 70px;
     background-color: var(--clr2);
     bottom: 5vh;
     right: 5vh;
     cursor: pointer;
     background-image: url('../../../../icons/write.png');
     background-position: center;
     background-size: 60%;
     background-repeat: no-repeat;


 }

 .mail-compse-btn:hover {
    background-color: rgb(222, 236, 253);
    transition: 0.5s;
     height: 80px;
     width: 80px;
     background-size: 70%;

 }