/* JUST MOBILE */
@media (max-width: 640px) {

/* MAIL */
.btn-menu{
    font-size: 1rem;
    width: 120px;
    height: 50px;
    margin: 5px;
    border-radius: 2em;

}

body.menu-open .side-filters {
    transform: translateX(0);
    box-shadow: -1px 1px 20px rgb(0 0 0 / 50%);
}


.side-filters {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: rgb(230, 241, 245);
    border-inline-start: 1px solid #ccc;
    min-width: 200px;
    transform: translateX(100%);
    transition: transform 0.6s, box-shadow 0.6s;
}



    /* NOTES */

    .notes-list {
        align-self: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        list-style-position: inside;
    }

    .main-slogen {
        font-size: 5em;
        font-weight: 600;
        letter-spacing: 0.2em;
        font-family: lato;
    }

    .about-picture {
        margin: 20px auto;
        background-image: url('../../img/bench-accounting-nvzvOPQW0gc-unsplash.jpg');
        width: 90%;
        height: 80%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        border: none;
        background-color: transparent;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .about-header {
        height: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        font-size: 1.2em;
        color: var(--clr1);
        text-align: center;
    }

}

/* SMALL 640-900 */
@media (min-width: 640px) {
/* MAILS */

.side-filters {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    background-color: var(--clr0);
}


    /* NOTES */
    .notes-list {
        align-self: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
        list-style-position: inside;
    }

    .main-slogen {
        font-size: 6em;
        font-weight: 600;
        letter-spacing: 0.2em;
        font-family: lato;
    }

    .about-picture {
        margin: 20px auto;
        background-image: url('../../img/bench-accounting-nvzvOPQW0gc-unsplash.jpg');
        width: 90%;
        height: 80%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        border: none;
        background-color: transparent;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .about-header {
        height: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        font-size: 1.3em;
        color: var(--clr1);
        text-align: center;

    }
}


/* MEDIUM 900-1160 */

@media (min-width: 900px) {
    .mail-search-input{
        width: 150%;
        height:1.5em;
     }
    .notes-list {
        grid-template-columns: repeat(4, 1fr);
    }

    .about-header {
        font-size: 1.5em;
    }

    .main-slogen {
        font-size: 7em;
    }
}


/* LARGE 1160+ */
@media (min-width: 1160px) {
    .mail-search-input{
        width: 200%;
    }
    .notes-list {
        grid-template-columns: repeat(5, 1fr);
    }
}