header {
    background: var(--clr-4);
}

.app-header {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    padding: 0 15px;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: rgb(125, 111, 125);
}

nav a.active {
    color: rgb(65, 65, 72);
    font-weight: bold;
    text-decoration: overline;
}