.user-msg {
    background-color: lightgray;
    padding: 1em;
    position: absolute;
    top: 1em;
    right: 1em;
    border-radius: 10%;
}

.user-msg.success {
    background-color: rgb(207, 238, 207);
}

.user-msg.error {
    background-color: rgb(200, 130, 140);
}


.user-msg button{
    float: right;
    bottom: 0;
    margin: 1em;
}